##<%@ import var widgetType:String%>
#set($labelSize=3)
#foreach($attribute in $attributes)
    #if($attribute.getKey()=="combo")
        #set($combo="true")
    #end
#end
##<%@ import var labelSize:String="4"%>
##
##<code-resolver  orientation="horizontal" label-size=""
##                #if($combo=="true")
##                filters="index:combo;description:text"
##                #else
##                filters="code:combo;description:text"
##                #end
##                >
##    <small>
##        {{item.index?item.index:item.code}} : <span ng-bind-html="''+item.description | highlight: $select.search"></span>
##    </small>
##</code-resolver>
##
<spl:exelector #foreach($attribute in $attributes) ${attribute.toString()}#end
        fields-to-select="description" detail-fields="description"
        bindable-field="code">
</spl:exelector>