#parse("/template/util/html-license.vm")
#parse("/template/web/bootstrap/layout.vm")

<spl:search-page translation-prefix="$fullClassName">
    #renderLayout($page.getSearchPage().getLayout().get())
</spl:search-page>
<spl:show-page translation-prefix="$fullClassName">
    #renderLayout($page.getShowPage().getLayout().get())
</spl:show-page>
<spl:edit-page translation-prefix="$fullClassName">
    #renderLayout($page.getEditPage().getLayout().get())
</spl:edit-page>