#parse("/template/util/model-utils.vm")
#parse("/template/util/string-utils.vm")
#foreach($attribute in $attributes)
    #if($attribute.getKey()=="label")
        #set($label=$attribute.getValue())
    #end
#end

<div class="row">
    <div class="col-xs-2" style="text-align: left;">
        <label>{{translate('${label}')}}</label>
    </div>
    <div class="col-xs-10">
        <div class="input-group">
            #foreach($attribute in $attributes)
                #if($attribute.getKey()=="formName")
                    #set($formName=$attribute.getValue())
                #end
            #end

            <span class="input-group-btn">
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#search#getClassName($formName)">
        ...
    </button>
  </span>
            <input type="text" class="form-control" #foreach($attribute in $attributes) ${attribute.toString()} #end />
        </div>
    </div>
</div>