<html xmlns:ui="http:/www.agileapes.com/ui" ng-app="application" ng-controller="ApplicationMain">
<head>
    <title ng-bind-template="{{translate(app.title)}}{{app.title && page.title ? ' - ' : ''}}{{translate(page.title)}}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="app/lib/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap.min.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/bootstrap-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap-select.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/ng-select.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/lib/css/ui-grid-unstable.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/calendar/aqua/theme.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/codeResolver.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.rtl.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/alertify.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/alertify.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/toastr.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app-ex.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/ace.min.css"/>

    <link data-direction="rtl" type="text/css" href="app/css/app-rtl.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/toastr.css"/>

    <script type="text/javascript" src="app/lib/js/basetag.js"></script>
    <script type="text/javascript" src="app/lib/js/jquery.js"></script>
    <script type="text/javascript" src="app/lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/lib/js/angular.js"></script>
    <script type="text/javascript" src="app/lib/js/utils.js"></script>
    <script type="text/javascript" src="app/js/controllers/com/caspco/alert.js"></script>
    <script type="text/javascript" src="app/lib/js/sockjs.min.js"></script>
    <script type="text/javascript" src="app/lib/js/stomp.min.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-animate.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/js/underscore.js"></script>
    <script type="text/javascript" src="app/lib/js/saveas.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/angular-validation-rule.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/bootstrap-select.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui-route.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/ui-bootstrap-0.9.0.js"></script>-->
    <script type="text/javascript" src="app/lib/js/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="app/js/services/services.js"></script>
    <script type="text/javascript" src="app/js/services/locale.js"></script>
    <script type="text/javascript" src="app/js/services/properties.js"></script>
    <script type="text/javascript" src="app/js/services/translator.js"></script>
    <script type="text/javascript" src="app/js/services/underscore.js"></script>
    <script type="text/javascript" src="app/js/controllers/menu.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <script type="text/javascript" src="app/js/services/modal.js"></script>
    <script type="text/javascript" src="app/js/services/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/assetToggleButton.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebar.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenu.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenuItem.js"></script>
    <script type="text/javascript" src="app/js/directives/thumbnailCard.js"></script>
    <script type="text/javascript" src="app/js/directives/codeResolver.js"></script>
    <script type="text/javascript" src="app/js/directives/secondaryNavigation.js"></script>
    <script type="text/javascript" src="app/js/directives/topNav.js"></script>
    <script type="text/javascript" src="app/js/directives/notification.js"></script>

    <script type="text/javascript" src="app/js/directives/loader.js"></script>
    <script type="text/javascript" src="app/js/directives/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/input.js"></script>
    <script type="text/javascript" src="app/js/directives/combo.js"></script>

    <!--<script type="text/javascript" src="app/js/directives/panel.js"></script>-->
    <script type="text/javascript" src="app/js/directives/button.js"></script>
    <script type="text/javascript" src="app/js/filters/link.js"></script>
    <script type="text/javascript" src="app/js/factory/projectCache.js"></script>

    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/route.js"></script>
    <script type="text/javascript" src="app/js/services/user.js"></script>
    <script type="text/javascript" src="app/js/services/todo.js"></script>
    <script type="text/javascript" src="app/js/services/modelService.js"></script>
    <script type="text/javascript" src="app/js/services/messages.js"></script>
    <script type="text/javascript" src="app/lib/js/ng-grid-2.0.11.debug.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/ui-grid.js"></script>-->
    <script type="text/javascript" src="app/lib/js/jquery-ui.js"></script>
    <script type="text/javascript" src="app/lib/js/ocLazyLoad.js"></script>
    <!--<script type="text/javascript" src="blob.js"></script>-->

    <script type="text/javascript" src="app/js/directives/validate.js"></script>

    <script type="text/javascript" src="app/lib/js/jalali.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-setup.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-fa.js"></script>
    <script type="text/javascript" src="app/lib/js/alertify.js"></script>
    <script type="text/javascript" src="app/js/directives/accounting.js"></script>
    <script type="text/javascript" src="app/lib/js/toastr.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <script type="text/javascript" src="app/js/filters/persianDateFilter.js"></script>
    <script type="text/javascript" src="app/js/controllers/ir/ac/mut/rcm/AutoInjectController.js"></script>

    <style>
        .circle-menu {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            /*font-size: 20px;*/
            color: #fff;
            line-height: 100px;
            text-align: center;
            text-decoration: none;
            background: #2993cf;
            z-index: 1;
            position: absolute;
            right: -20px;
            top: -20px;
            -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            font-size: 40px;
        }

        .circle-menu:hover {
            color: #ccc;
            text-decoration: none;
            background: #ffffee;
        }

        .circle-img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body ng-cloak>

<a class="circle-menu glyphicon glyphicon-home" ng-click="sidebar=!sidebar">

</a>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">


            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">{{translate('app.title')}}</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!--<ui:top-nav ng-init="count = 1">-->
<!--<ui-notification glyph="glyphicon-envelope" count="messages.count" actions="messages.actions"-->
<!--color="yellow"></ui-notification>-->
<!--<ui-notification glyph="glyphicon-tasks" count="todo.count" actions="todo.actions" color="red"></ui-notification>-->
<!--<ui-notification glyph="glyphicon-user" caption="{{user.displayName}}"></ui-notification>-->
<!--</ui:top-nav>-->

<div>
    <!--<ui:sidebar ng-init="dashboard = true; sidebar = true;" ng-show="sidebar">-->
    <!--<ui:thumbnail-card type="user" image="{{user.avatar}}">-->
    <!--<div class="name"><span class="glyphicon glyphicon-stop"></span> <a ng-href="{{'user/profile' | link}}"-->
    <!--ng-bind="user.fullName"></a></div>-->
    <!--<div class="status {{user.status}}"><span class="glyphicon glyphicon-globe"></span> <span-->
    <!--ng-bind="translate('user.status.' + user.status)"></span></div>-->
    <!--</ui:thumbnail-card>-->

    <!--&lt;!&ndash;<ui:sidebar-menu glyph="dashboard" title="{{translate('menu.dashboard.title')}}" expanded="dashboard">&ndash;&gt;-->

    <!--&lt;!&ndash;<ui:sidebar-menu-item link="/">&ndash;&gt;-->
    <!--&lt;!&ndash;{{translate('menu.dashboard.home.title')}}&ndash;&gt;-->
    <!--&lt;!&ndash;</ui:sidebar-menu-item>&ndash;&gt;-->
    <!--&lt;!&ndash;</ui:sidebar-menu>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-controller="MenuCtrl">&ndash;&gt;-->
    <!--<ui:sidebar-menu ng-repeat="menu in menus" title="{{translate('menu.' + menu.title)}}"-->
    <!--glyph="glyphicon-plus" expanded="menu.expanded">-->

    <!--&lt;!&ndash;<button class="btn btn-primary" ng-repeat="detail in menu.details">&ndash;&gt;-->
    <!--&lt;!&ndash;{{translate('menu.'+detail.domain+'.'+detail.title)}}&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--<ui:sidebar-menu-item ng-repeat="detail in menu.details"-->
    <!--link="{{detail.domain+'/'+detail.title}}" glyph="glyphicon-chevron-right">-->
    <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
    <!--</ui:sidebar-menu-item>-->
    <!--</ui:sidebar-menu>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</ui:sidebar>-->
    <ui:sidebar ng-init="dashboard = true; sidebar = true;" ng-show="sidebar">
        <ui:thumbnail-card type="user" image="{{user.avatar}}">
            <div class="name"><span class="glyphicon glyphicon-stop"></span> <a ng-href="{{'user/profile' | link}}"
                                                                                ng-bind="user.fullName"></a></div>
            <div class="status {{user.status}}"><span class="glyphicon glyphicon-globe"></span> <span
                    ng-bind="translate('user.status.' + user.status)"></span></div>
        </ui:thumbnail-card>

        <!--<ui:sidebar-menu glyph="dashboard" title="{{translate('menu.dashboard.title')}}" expanded="dashboard">-->

        <!--<ui:sidebar-menu-item link="/">-->
        <!--{{translate('menu.dashboard.home.title')}}-->
        <!--</ui:sidebar-menu-item>-->
        <!--</ui:sidebar-menu>-->
        <div ng-controller="MenuCtrl">
            <ui:sidebar-menu ng-repeat="menu in menus" title="{{translate('menu.' + menu.title)}}"
                             glyph="glyphicon-plus" expanded="menu.expanded">

                <!--<button class="btn btn-primary" ng-repeat="detail in menu.details">-->
                <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
                <!--</button>-->
                <div>
                    <!--<ui:sidebar-menu-item ng-repeat="detail in menu.details " class="menu-item"-->
                    <!--ng-if="intersect(detail.roles,[user.role]).length>0"-->
                    <!--link="{{detail.domain+'/'+detail.title}}" glyph="glyphicon-chevron-right">-->
                    <!--<span ng-click="Select('menu.'+detail.domain+'.'+detail.title)">-->
                    <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
                    <!--</span>-->
                    <!--</ui:sidebar-menu-item>-->
                    <span>
                        <button class="btn-menu-item" ng-repeat="detail in menu.details"
                                ng-class="{toggleButton:(detail.domain+'.'+detail.title)==SelectedPage}"
                                ng-if="intersect(detail.roles,[user.role]).length>0"
                                ng-click="Select(detail.domain,detail.title)">
                            {{translate('menu.'+detail.domain+'.'+detail.title)}}
                        </button>
                    </span>
                </div>
            </ui:sidebar-menu>
        </div>
    </ui:sidebar>
    <div class="body" ng-class="{true: 'col-md-10 col-xs-12'}[sidebar]">
        <br>

        <!--<div class="row text-center" ng-controller="AutoInjectorController">-->

        <!--<div ng-show="user.role!='ROLE_ADMIN'">-->
        <!--<span class="btn-info btn-lg">-->
        <!--{{ResearchCenter.label}} <span class="glyphicon glyphicon-home"></span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div ng-show="user.role=='ROLE_ADMIN'">-->
        <!--<div class="col-lg-12">-->
        <!--<span ng-show="!ResearchCenter.selected" class="glyphicon glyphicon-chevron-right"></span>-->
        <!--<a class="btn btn-info btn-lg" ng-class="{'btn-danger':!ResearchCenter.selected}"-->
        <!--ng-click="fillResearchCenter()">-->
        <!--{{ResearchCenter.label}} <span class="glyphicon glyphicon-home"></span>-->
        <!--</a><span ng-show="!ResearchCenter.selected" class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <ui:secondary-navigation>

        </ui:secondary-navigation>

        <div class="main-content" ng-view>
        </div>
    </div>
</div>
<div ui-loader ng-show="localeChanging"></div>
</body>
</html>