<html ng-app="application" ng-controller="ApplicationMain">
<head>
    <title ng-bind-template="{{translate(app.title)}}{{app.title && page.title ? ' - ' : ''}}{{translate(page.title)}}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="app/lib/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap.min.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/bootstrap-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap-select.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/ng-select.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/lib/css/ui-grid-unstable.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/calendar/aqua/theme.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/codeResolver.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.rtl.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/alertify.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/alertify.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/toastr.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app-ex.css"/>

    <link data-direction="rtl" type="text/css" href="app/css/app-rtl.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/toastr.css"/>


    <script type="text/javascript" src="app/lib/js/basetag.js"></script>
    <script type="text/javascript" src="app/lib/js/jquery.js"></script>
    <script type="text/javascript" src="app/lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/lib/js/angular.js"></script>
    <script type="text/javascript" src="app/lib/js/utils.js"></script>
    <script type="text/javascript" src="app/js/controllers/com/caspco/alert.js"></script>
    <script type="text/javascript" src="app/lib/js/sockjs.min.js"></script>
    <script type="text/javascript" src="app/lib/js/stomp.min.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-animate.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/js/underscore.js"></script>
    <script type="text/javascript" src="app/lib/js/saveas.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/angular-validation-rule.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/bootstrap-select.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui-route.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/ui-bootstrap-0.9.0.js"></script>-->
    <script type="text/javascript" src="app/lib/js/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="app/js/services/services.js"></script>
    <script type="text/javascript" src="app/js/services/locale.js"></script>
    <script type="text/javascript" src="app/js/services/properties.js"></script>
    <script type="text/javascript" src="app/js/services/translator.js"></script>
    <script type="text/javascript" src="app/js/services/underscore.js"></script>
    <script type="text/javascript" src="app/js/controllers/menu.js"></script>
    <script type="text/javascript" src="app/js/app.js/app.js"></script>

    <script type="text/javascript" src="app/js/services/modal.js"></script>
    <script type="text/javascript" src="app/js/services/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/assetToggleButton.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebar.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenu.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenuItem.js"></script>
    <script type="text/javascript" src="app/js/directives/thumbnailCard.js"></script>
    <script type="text/javascript" src="app/js/directives/codeResolver.js"></script>
    <script type="text/javascript" src="app/js/directives/secondaryNavigation.js"></script>
    <script type="text/javascript" src="app/js/directives/topNav.js"></script>
    <script type="text/javascript" src="app/js/directives/notification.js"></script>

    <script type="text/javascript" src="app/js/directives/loader.js"></script>
    <script type="text/javascript" src="app/js/directives/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/input.js"></script>
    <script type="text/javascript" src="app/js/directives/combo.js"></script>

    <!--<script type="text/javascript" src="app/js/directives/panel.js"></script>-->
    <script type="text/javascript" src="app/js/directives/button.js"></script>
    <script type="text/javascript" src="app/js/filters/link.js"></script>
    <script type="text/javascript" src="app/js/factory/projectCache.js"></script>

    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/route.js"></script>
    <script type="text/javascript" src="app/js/services/user.js"></script>
    <script type="text/javascript" src="app/js/services/todo.js"></script>
    <script type="text/javascript" src="app/js/services/modelService.js"></script>
    <script type="text/javascript" src="app/js/services/messages.js"></script>
    <script type="text/javascript" src="app/lib/js/ng-grid-2.0.11.debug.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/ui-grid.js"></script>-->
    <script type="text/javascript" src="app/lib/js/jquery-ui.js"></script>
    <script type="text/javascript" src="app/lib/js/ocLazyLoad.js"></script>
    <!--<script type="text/javascript" src="blob.js"></script>-->

    <script type="text/javascript" src="app/js/directives/validate.js"></script>

    <script type="text/javascript" src="app/lib/js/jalali.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-setup.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-fa.js"></script>
    <script type="text/javascript" src="app/lib/js/alertify.js"></script>
    <script type="text/javascript" src="app/js/directives/accounting.js"></script>
    <script type="text/javascript" src="app/lib/js/toastr.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <script type="text/javascript" src="app/js/filters/persianDateFilter.js"></script>
    <script type="text/javascript" src="app/js/controllers/ir/ac/mut/rcm/AutoInjectController.js"></script>
    <script src="app/pdfmake.js" type="text/javascript"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="app/custom-font.js" type="text/javascript"></script>

    <style>
        .circle-menu {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            /*font-size: 20px;*/
            color: #fff;
            line-height: 100px;
            text-align: center;
            text-decoration: none;
            background: #2993cf;
            z-index: 1;
            position: absolute;
            right: -20px;
            top: -20px;
            -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
            font-size: 40px;
        }

        .circle-menu:hover {
            color: #ccc;
            text-decoration: none;
            background: #ffffee;
        }

        .circle-img {

            max-width: 100%;
            max-height: 100%;

        }
    </style>
</head>
<body ng-cloak>

<!--<a class="circle-menu glyphicon glyphicon-home" ng-click="sidebar=!sidebar">-->

<!--</a>-->
<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->

<!--<div class="navbar-header">-->


<!--&lt;!&ndash;<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="navbar-brand" href="#">{{translate('app.title')}}</a>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav">-->
<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
<!--<li><a href="#">Link</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--aria-expanded="false">Dropdown-->
<!--<span class="caret"></span></a>-->
<!--<ul class="dropdown-menu" role="menu">-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">One more separated link</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a href="#">Link</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--aria-expanded="false">Dropdown-->
<!--<span class="caret"></span></a>-->
<!--<ul class="dropdown-menu" role="menu">-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->


<!--<ui:top-nav ng-init="count = 1">-->
<!--<ui-notification glyph="glyphicon-envelope" count="messages.count" actions="messages.actions"-->
<!--color="yellow"></ui-notification>-->
<!--<ui-notification glyph="glyphicon-tasks" count="todo.count" actions="todo.actions" color="red"></ui-notification>-->
<!--<ui-notification glyph="glyphicon-user" caption="{{user.displayName}}"></ui-notification>-->
<!--</ui:top-nav>-->

<!--<div>-->
<!--<ui:sidebar ng-init="dashboard = true; sidebar = true;" ng-show="sidebar">-->
<!--<ui:thumbnail-card type="user" image="{{user.avatar}}">-->
<!--<div class="name"><span class="glyphicon glyphicon-stop"></span> <a ng-href="{{'user/profile' | link}}"-->
<!--ng-bind="user.fullName"></a></div>-->
<!--<div class="status {{user.status}}"><span class="glyphicon glyphicon-globe"></span> <span-->
<!--ng-bind="translate('user.status.' + user.status)"></span></div>-->
<!--</ui:thumbnail-card>-->

<!--&lt;!&ndash;<ui:sidebar-menu glyph="dashboard" title="{{translate('menu.dashboard.title')}}" expanded="dashboard">&ndash;&gt;-->

<!--&lt;!&ndash;<ui:sidebar-menu-item link="/">&ndash;&gt;-->
<!--&lt;!&ndash;{{translate('menu.dashboard.home.title')}}&ndash;&gt;-->
<!--&lt;!&ndash;</ui:sidebar-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;</ui:sidebar-menu>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-controller="MenuCtrl">&ndash;&gt;-->
<!--<ui:sidebar-menu ng-repeat="menu in menus" title="{{translate('menu.' + menu.title)}}"-->
<!--glyph="glyphicon-plus" expanded="menu.expanded">-->

<!--&lt;!&ndash;<button class="btn btn-primary" ng-repeat="detail in menu.details">&ndash;&gt;-->
<!--&lt;!&ndash;{{translate('menu.'+detail.domain+'.'+detail.title)}}&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--<ui:sidebar-menu-item ng-repeat="detail in menu.details"-->
<!--link="{{detail.domain+'/'+detail.title}}" glyph="glyphicon-chevron-right">-->
                <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
<!--</ui:sidebar-menu-item>-->
<!--</ui:sidebar-menu>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</ui:sidebar>-->
<!--<div class="body" ng-class="{true: 'col-md-10 col-xs-12'}[sidebar]">-->
<!--<br>-->

<!--&lt;!&ndash;<div class="row text-center" ng-controller="AutoInjectorController">&ndash;&gt;-->

<!--&lt;!&ndash;<div ng-show="user.role!='ROLE_ADMIN'">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="btn-info btn-lg">&ndash;&gt;-->
<!--&lt;!&ndash;{{ResearchCenter.label}} <span class="glyphicon glyphicon-home"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="user.role=='ROLE_ADMIN'">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;<span ng-show="!ResearchCenter.selected" class="glyphicon glyphicon-chevron-right"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-info btn-lg" ng-class="{'btn-danger':!ResearchCenter.selected}"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="fillResearchCenter()">&ndash;&gt;-->
<!--&lt;!&ndash;{{ResearchCenter.label}} <span class="glyphicon glyphicon-home"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</a><span ng-show="!ResearchCenter.selected" class="glyphicon glyphicon-chevron-left"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<ui:secondary-navigation>-->

<!--</ui:secondary-navigation>-->

<!--<div class="main-content" ng-view>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div ui-loader ng-show="localeChanging"></div>-->
<div id="screensaver">
    <canvas id="canvas"></canvas>
    <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span>Basic table</span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner">
        </div>
        <div class="devoops-modal-bottom">
        </div>
    </div>
</div>
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                <a href="index.html">DevOOPS v2</a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-8 col-sm-4">
                        <div id="search">
                            <input type="text" placeholder="search"/>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-8 top-panel-right">
                        <a href="#" class="about">about</a>
                        <a href="index_v1.html" class="style1"></a>
                        <ul class="nav navbar-nav pull-right panel-menu">
                            <li class="hidden-xs">
                                <a href="index.html" class="modal-link">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge">7</span>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a class="ajax-link" href="ajax/calendar.html">
                                    <i class="fa fa-calendar"></i>
                                    <span class="badge">7</span>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="ajax/page_messages.html" class="ajax-link">
                                    <i class="fa fa-envelope"></i>
                                    <span class="badge">7</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <img src="img/avatar.jpg" class="img-circle" alt="avatar"/>
                                    </div>
                                    <i class="fa fa-angle-down pull-right"></i>

                                    <div class="user-mini pull-right">
                                        <span class="welcome">Welcome,</span>
                                        <span>Jane Devoops</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ajax/page_messages.html" class="ajax-link">
                                            <i class="fa fa-envelope"></i>
                                            <span>Messages</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ajax/gallery_simple.html" class="ajax-link">
                                            <i class="fa fa-picture-o"></i>
                                            <span>Albums</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ajax/calendar.html" class="ajax-link">
                                            <i class="fa fa-tasks"></i>
                                            <span>Tasks</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-cog"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-power-off"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="main" class="container-fluid">
    <div class="row">
        <div id="sidebar-left" class="col-xs-2 col-sm-2">
            <ul class="nav main-menu">
                <li>
                    <a href="ajax/dashboard.html" class="ajax-link">
                        <i class="fa fa-dashboard"></i>
                        <span class="hidden-xs">Dashboard</span>
                    </a>
                </li>

                <li class="dropdown" ng-repeat="menu in menus">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="hidden-xs">{{translate('menu.' + menu.title)}}</span>
                    </a>
                    <ul class="dropdown-menu" ng-repeat="detail in menu.details">
                        <li><a class="ajax-link" href="/#{{detail.domain.split('.').join('/')+'/'+detail.title}}">{{translate('menu.'+detail.domain+'.'+detail.title)}}</a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-table"></i>-->
                <!--<span class="hidden-xs">Tables</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a class="ajax-link" href="ajax/tables_simple.html">Simple Tables</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/tables_datatables.html">Data Tables</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/tables_beauty.html">Beauty Tables</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-pencil-square-o"></i>-->
                <!--<span class="hidden-xs">Forms</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a class="ajax-link" href="ajax/forms_elements.html">Elements</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/forms_layouts.html">Layouts</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/forms_file_uploader.html">File Uploader</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-desktop"></i>-->
                <!--<span class="hidden-xs">UI Elements</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a class="ajax-link" href="ajax/ui_grid.html">Grid</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/ui_buttons.html">Buttons</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/ui_progressbars.html">Progress Bars</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/ui_jquery-ui.html">Jquery UI</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/ui_icons.html">Icons</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-list"></i>-->
                <!--<span class="hidden-xs">Pages</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="ajax/page_login.html">Login</a></li>-->
                <!--<li><a href="ajax/page_register.html">Register</a></li>-->
                <!--<li><a id="locked-screen" class="submenu" href="ajax/page_locked.html">Locked Screen</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_contacts.html">Contacts</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_feed.html">Feed</a></li>-->
                <!--<li><a class="ajax-link add-full" href="ajax/page_messages.html">Messages</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_pricing.html">Pricing</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_product.html">Product</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_invoice.html">Invoice</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_search.html">Search Results</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/page_404.html">Error 404</a></li>-->
                <!--<li><a href="ajax/page_500.html">Error 500</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-map-marker"></i>-->
                <!--<span class="hidden-xs">Maps</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a class="ajax-link" href="ajax/maps.html">OpenStreetMap</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/map_fullscreen.html">Fullscreen map</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/map_leaflet.html">Leaflet</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-picture-o"></i>-->
                <!--<span class="hidden-xs">Gallery</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a class="ajax-link" href="ajax/gallery_simple.html">Simple Gallery</a></li>-->
                <!--<li><a class="ajax-link" href="ajax/gallery_flickr.html">Flickr Gallery</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="ajax-link" href="ajax/typography.html">-->
                <!--<i class="fa fa-font"></i>-->
                <!--<span class="hidden-xs">Typography</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="ajax-link" href="ajax/calendar.html">-->
                <!--<i class="fa fa-calendar"></i>-->
                <!--<span class="hidden-xs">Calendar</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-picture-o"></i>-->
                <!--<span class="hidden-xs">Multilevel menu</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">First level menu</a></li>-->
                <!--<li><a href="#">First level menu</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-plus-square"></i>-->
                <!--<span class="hidden-xs">Second level menu group</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Second level menu</a></li>-->
                <!--<li><a href="#">Second level menu</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-plus-square"></i>-->
                <!--<span class="hidden-xs">Three level menu group</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Three level menu</a></li>-->
                <!--<li><a href="#">Three level menu</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-plus-square"></i>-->
                <!--<span class="hidden-xs">Four level menu group</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Four level menu</a></li>-->
                <!--<li><a href="#">Four level menu</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-plus-square"></i>-->
                <!--<span class="hidden-xs">Five level menu group</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Five level menu</a></li>-->
                <!--<li><a href="#">Five level menu</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-plus-square"></i>-->
                <!--<span class="hidden-xs">Six level menu group</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Six level menu</a></li>-->
                <!--<li><a href="#">Six level menu</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="#">Three level menu</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <!--Start Content-->
        <div id="content" class="col-xs-12 col-sm-10">
            <!--<div id="about">-->
            <!--<div class="about-inner">-->
            <!--&lt;!&ndash;<h4 class="page-header">Open-source admin theme for you</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>DevOOPS team</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Homepage - <a href="http://devoops.me" target="_blank">http://devoops.me</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Email - <a href="mailto:devoopsme@gmail.com">devoopsme@gmail.com</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Twitter - <a href="http://twitter.com/devoopsme" target="_blank">http://twitter.com/devoopsme</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Donate - BTC 123Ci1ZFK5V7gyLsyVU36yPNWSB5TDqKn3</p>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="preloader">-->
            <!--<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>-->
            <!--</div>-->
            <div class="main-content" ng-view>
            </div>
        </div>
        <!--End Content-->
    </div>
</div>
<div ui-loader ng-show="localeChanging"></div>
</body>
</html>