<html xmlns:ui="http:/www.agileapes.com/ui" ng-app="application" ng-controller="ApplicationMain">
<head>
    <title ng-bind-template="{{translate(app.title)}}{{app.title && page.title ? ' - ' : ''}}{{translate(page.title)}}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="app/lib/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap.min.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/bootstrap-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/ui-grid-unstable.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/calendar/aqua/theme.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/codeResolver.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alertify.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alertify.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/toastr.css"/>
    <link data-direction="rtl" type="text/css" href="app/css/app-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app-ex.css"/>
    <link rel="stylesheet" type="text/css" data-direction="ltr" href="app/css/app-ex.ltr.css"/>
    <link rel="stylesheet" type="text/css" data-direction="rtl" href="app/css/app-ex.rtl.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/ng-tags-input.min.css"/>

    <link rel="stylesheet" type="text/css" href="app/css/ng-tags-input.bootstrap.min.css"/>

    <script type="text/javascript" src="app/lib/js/basetag.js"></script>
    <script type="text/javascript" src="app/lib/js/jquery.js"></script>
    <script type="text/javascript" src="app/lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/lib/js/angular.js"></script>
    <script type="text/javascript" src="app/lib/js/utils.js"></script>
    <script type="text/javascript" src="app/lib/js/sockjs.min.js"></script>
    <script type="text/javascript" src="app/lib/js/stomp.min.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-animate.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/js/underscore.js"></script>
    <script type="text/javascript" src="app/lib/js/saveas.js"></script>
    <script type="text/javascript" src="app/lib/js/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="app/js/services/services.js"></script>
    <script type="text/javascript" src="app/js/services/locale.js"></script>
    <script type="text/javascript" src="app/js/services/properties.js"></script>
    <script type="text/javascript" src="app/js/services/translator.js"></script>
    <script type="text/javascript" src="app/js/services/underscore.js"></script>
    <script type="text/javascript" src="app/js/controllers/menu.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/js/services/modal.js"></script>
    <script type="text/javascript" src="app/js/services/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/assetToggleButton.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebar.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenu.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenuItem.js"></script>
    <script type="text/javascript" src="app/js/directives/thumbnailCard.js"></script>
    <script type="text/javascript" src="app/js/directives/codeResolver.js"></script>
    <script type="text/javascript" src="app/js/directives/secondaryNavigation.js"></script>
    <script type="text/javascript" src="app/js/directives/topNav.js"></script>
    <script type="text/javascript" src="app/js/directives/notification.js"></script>
    <script type="text/javascript" src="app/js/directives/loader.js"></script>
    <script type="text/javascript" src="app/js/directives/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/input.js"></script>
    <script type="text/javascript" src="app/js/directives/combo.js"></script>
    <script type="text/javascript" src="app/js/directives/button.js"></script>
    <script type="text/javascript" src="app/js/filters/link.js"></script>
    <script type="text/javascript" src="app/js/factory/projectCache.js"></script>
    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/route.js"></script>
    <script type="text/javascript" src="app/js/services/user.js"></script>
    <script type="text/javascript" src="app/js/services/todo.js"></script>
    <script type="text/javascript" src="app/js/services/modelService.js"></script>
    <script type="text/javascript" src="app/js/services/messages.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <script type="text/javascript" src="app/lib/js/jquery-ui.js"></script>
    <script type="text/javascript" src="app/lib/js/ocLazyLoad.js"></script>
    <script type="text/javascript" src="app/js/directives/validate.js"></script>
    <script type="text/javascript" src="app/lib/js/jalali.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-setup.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-fa.js"></script>
    <script type="text/javascript" src="app/lib/js/alertify.js"></script>
    <script type="text/javascript" src="app/js/directives/accounting.js"></script>
    <script type="text/javascript" src="app/lib/js/toastr.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <script type="text/javascript" src="app/js/filters/persianDateFilter.js"></script>
    <script type="text/javascript"
            src="app/js/filters/TimedPersianDateFilter.js"></script>
    <script type="text/javascript" src="app/js/directives/auto-focus.js"></script>
    <script type="text/javascript" src="app/js/directives/do-action.js"></script>
    <script type="text/javascript" src="app/js/directives/focus-on.js"></script>
    <script type="text/javascript" src="app/js/directives/loading.js"></script>
    <script type="text/javascript" src="app/lib/js/ng-tags-input.min.js"></script>
    <script type="text/javascript"
            src="app/js/services/InformationRestService.js"></script>
</head>
<body ng-cloak ng-keydown="fireKeyDown($event)">

<ui:sidebar ng-init="dashboard = true; sidebar = true;" ng-show="sidebar">

    <div class="user-panel">
        <div class="image-avatar image">
            <img src="app/resources/images/admin.png" class="img-circle"
                 alt="User Image">
            <span><i class="fa fa-circle text-success"></i>
            </span>
        </div>
        <div class="info">
            <p class="text-center">
                <span class="username">{{user.fullName}}</span>
            </p>
            <ul class="profile-list">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Profile">
                        <span data-toggle="modal" data-target="#myModal"><i
                                class="user-operation glyphicon glyphicon-user"></i>
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting">
                        <span data-toggle="modal" data-target="#setting"><i
                                class="user-operation glyphicon glyphicon-wrench"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/logout" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Logout" tooltip="{{translate('app.logout')}}">
                        <span><i class="user-operation glyphicon glyphicon-off"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="MenuCtrl" class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group menu-search">
                        <input type="text" focus-on="ctrl+alt+f" class="form-control" ng-model="itemToSearch"
                               ng-keydown="selectMenuItem($event)">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <ui:sidebar-menu ng-repeat="menu in searchedMenu track by menu.title"
                             title="{{translate('menu.' + menu.title)}}"
                             glyph="glyphicon-plus-sign" expanded="true">
                <div>
                    <span class="row" ng-repeat="detail in menu.details">
                        <button class="btn-menu-item"
                                ng-class="{'toggleButton': (detail.domain+'.'+detail.title)==SelectedPage, 'btn-menu-item-hover': $index==selectedIndex}"
                                ng-if="intersect(detail.roles,[user.role]).length>0"
                                ng-click="Select(detail.domain,detail.title)">
                            {{translate('menu.'+detail.domain+'.'+detail.title)}}
                        </button>
                    </span>
                </div>
            </ui:sidebar-menu>
        </div>
    </div>
</ui:sidebar>
<div class="body" ng-class="{true: 'col-xs-10'}[sidebar]">
    <nav role="navigation" class="navbar topnavbar ng-scope">
        <ul class="nav navbar-nav sidebar-nav">
            <li>
                <a ng-click="sidebar = !sidebar" class="">
                    <em class="glyphicon glyphicon-menu-hamburger"></em>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav sidebar-nav">
            <li>
                <div class="loading-spiner-holder" data-loading>
                    <div id='loader'>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                    </div>
                </div>
            </li>
        </ul>

    </nav>

    <ol class="breadcrumb">
        <li class="active"><a href="#">{{translate('app.mainPage')}}</a></li>
        <li class="active">{{translate('menu.'+SelectedPage)}}</li>
    </ol>
    <div class="main-content" ng-view>

    </div>

</div>
<div class="footer">
    <div class="version">
        <span class="version">
        نسخه {{projectInformation.version}}
            </span>
        <span>
            تاریخ آخرین ورود به سیستم : {{user.lastLoginDate|TimedPersianDateFilter}}
        </span>
    </div>
</div>

</body>
</html>
