<form name="form">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    پارامترهای پروژه
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4">
                            <spl:input-text label-size="4" id='artifactId' not-null="true"
                                            ng-model='Model.properties["artifactId"]' required-validator
                                            class="input-sm"
                                            style="direction:ltr"
                                            tooltip="{{'help.artifactId'|translate}}"
                                            label='نام آرتیفکت'></spl:input-text>
                        </div>
                        <div class="col-xs-4">
                            <spl:input-text label-size="4" id='groupId' not-null="true"
                                            ng-model='Model.properties["groupId"]' required-validator
                                            style="direction:ltr"
                                            tooltip="{{translate('help.groupId')}}"
                                            label='نام گروه پروژه ' class="input-sm"
                            ></spl:input-text>
                        </div>
                        <div class="col-xs-4">
                            <spl:input-text label-size="4" id='dataBaseUrl' not-null="true"
                                            ng-model='Model.properties["dataBaseUrl"]'
                                            style="direction:ltr"
                                            label='آدرس اتصال به پایگاه داده' required-validator
                                            tooltip="{{translate('help.dataBaseUrl')}}"
                                            class="input-sm"
                            ></spl:input-text>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <spl:input-text label-size="4" id='dataBaseUsername'
                                            not-null="true"
                                            ng-model='Model.properties["dataBaseUsername"]' required-validator
                                            tooltip="{{translate('help.dataBaseUsername')}}"
                                            style="direction:ltr"
                                            label='نام کاربری پایگاه داده'
                                            class="input-sm"
                            ></spl:input-text>
                        </div>
                        <div class="col-xs-4">
                            <spl:input-text orientation="horizontal" label-size="4" id='dataBasePassword'
                                            not-null="true"
                                            ng-model='Model.properties["dataBasePassword"]' required-validator
                                            tooltip="{{translate('help.dataBasePassword')}}"
                                            style="direction:ltr"
                                            label='رمز عبور پایگاه داده'
                                            class="input-sm"
                            ></spl:input-text>
                        </div>
                        <div class="col-xs-4">
                            <spl:exelector label-size="4"
                                           fields-to-select='code' not-null='true'
                                           label='نوع پایگاه داده ای'
                                           tooltip="{{translate('help.dataBaseName')}}"
                                           ng-model='Model.properties["dataBaseName"]' required-validator
                                           id="databaseName"
                                           detail-fields="code"
                                           source-items='Databases'>
                            </spl:exelector>

                            <!--<spl:input-text orientation="horizontal" label-size="4" name='dataBaseName' not-null="true"-->
                            <!--model='' required-validator-->
                            <!--label=''-->
                            <!--class="input-sm"-->
                            <!--&gt;</spl:input-text>-->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <spl:input-text label-size="4" id='projectName' not-null="true"
                                            ng-model='Model.properties["projectName"]' required-validator
                                            label='نام پروژه'
                                            tooltip="{{translate('help.projectName')}}"
                                            class="input-sm"
                            ></spl:input-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <uib-pagination direction-links="false" total-items="pageCount" ng-model="currentPage"
                            items-per-page="1"></uib-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    کلاس استخراج شده : {{currentModel.properties["domain"]}}.{{currentModel.properties["name"]}}
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    پارامترهای کلاس
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <spl:input-text label-size="3" name='name'
                                                            ng-model='currentModel.properties["label"]'
                                                            label='نام فارسی' not-null="true"
                                                            id='name'></spl:input-text>
                                        </div>
                                        <div class="col-xs-4">
                                            <spl:input-text label-size="3" name='tableName'
                                                            ng-model='currentModel.properties["tableName"]'
                                                            label='نام جدول' not-null="true"
                                                            id='tableName'></spl:input-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    پارامترهای فیلدها
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="panel panel-info">
                                                <div class="panel-body">
                                                    فیلدها
                                                </div>
                                                <div class="panel-footer">

                                                    <div class="gridStyle" ui-grid="FieldsGrid" ui-grid-selection
                                                         ui-grid-pagination>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-info" ng-if="FieldsGrid.isSelected">
                                                <div class="panel-body">
                                                    اطلاعات اولیه
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <spl:input-text label-size="3"
                                                                            ng-model='currentField.properties["label"]'
                                                                            label='نام فیلد'
                                                                            not-null="true"></spl:input-text>
                                                            <spl:input-text label-size="3"
                                                                            ng-model='currentField.properties["disable"]'
                                                                            label='غیر فعال شود وقتی که'></spl:input-text>
                                                            <spl:input-text label-size="3"
                                                                            ng-model='currentField.properties["visible"]'
                                                                            label='نمایش داده شود وقتی کهک'></spl:input-text>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <!--<div class="btn-group">-->
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['id']"
                                                                   uib-btn-checkbox>شناسه</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['textarea']"
                                                                   uib-btn-checkbox>متن چند خطی</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['searchable']"
                                                                   uib-btn-checkbox>قابل جستجو</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['createOnSelect']"
                                                                   uib-btn-checkbox>ایجاد به جای جستجو</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['generated']"
                                                                   uib-btn-checkbox>داده
                                                                قابل تولید</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['notui']"
                                                                   uib-btn-checkbox>قابل
                                                                مشاهده نباشد</label>
                                                            <label class="btn btn-success"
                                                                   ng-model="currentField.properties['exactOnSearch']"
                                                                   uib-btn-checkbox>مساوی در هنگام جستجو</label>
                                                            <!--</div>-->
                                                            <!--<label class="btn selective-button selective-toggle" ng-model=""-->
                                                            <!--btn-checkbox></label>-->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <spl:input-text label-size="3"
                                                                            name='columnName'
                                                                            ng-model="currentField.properties['columnName']"
                                                                            label='نام ستون'
                                                                            id='columnName'></spl:input-text>
                                                        </div>
                                                    </div>
                                                    <!--<div class="row">-->
                                                    <!--<div class="col-xs-6">-->
                                                    <!--<label class="btn selective-button selective-toggle" ng-model="currentPage.tableName"-->
                                                    <!--btn-checkbox></label>-->
                                                    <!--</div>-->
                                                    <!--<div class="col-xs-6">-->
                                                    <!--<label class="btn selective-button selective-toggle" ng-model="currentPage.tableName"-->
                                                    <!--btn-checkbox></label>-->
                                                    <!--</div>-->
                                                    <!--</div>-->

                                                    <div class="row">
                                                        <div class="panel panel-info">
                                                            <div class="panel-body">
                                                                اعتبار سنجی
                                                            </div>
                                                            <div class="panel-footer">
                                                                <spl:input-text label-size="3"
                                                                                name='pattern'
                                                                                ng-model='currentField.properties["pattern"]'
                                                                                label='الگو'
                                                                                id='patternName'></spl:input-text>
                                                                <label class="btn btn-success"
                                                                       ng-model="currentField.properties['notNull']"
                                                                       uib-btn-checkbox>خالی نباشد</label>
                                                                <label class="btn btn-success"
                                                                       ng-model="currentField.properties['numeric']"
                                                                       uib-btn-checkbox>عدد باشد</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button ng-click="Action.send()" class="btn btn-lg btn-info" ng-disabled="!form.$valid">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>

                        <button ng-click="Action.nextPage()" class="btn btn-lg btn-info">
                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        </button>
                        <button ng-click="Action.previousPage()" class="btn btn-lg btn-info">
                            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>