<?xml version="1.0" encoding="UTF-8"?>
<jasperReport xmlns="http://jasperreports.sourceforge.net/jasperreports" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://jasperreports.sourceforge.net/jasperreports http://jasperreports.sourceforge.net/xsd/jasperreport.xsd" name="report4" language="java" pageWidth="595" pageHeight="842" columnWidth="535" leftMargin="20" rightMargin="20" topMargin="20" bottomMargin="20" >
    <property name="ireport.zoom" value="1.0"/>
    <property name="ireport.x" value="0"/>
    <property name="ireport.y" value="0"/>
    <queryString>
        <![CDATA[]]>
    </queryString>
    #set($size=0)
    #foreach($elem in $dm.nonRelatedElementsAsJava())
        #if(!$elem.isGeneratedValue() && !$elem.containsAttribute("password") && !$elem.containsAttribute("fileId") )
        <field name="${elem.getAttribute("name")}" class="java.lang.Object"/>
        #set($size=$size+1)
        #end
    #end
    #foreach($elem in $dm.relationsAsJava())
        #set($elemType=${elem.getAttribute("plaintypename")})
        #foreach($innerElem in $dm.getRelatedDataModel($elemType).get().titleElementsAsJava())
    <field name="${elem.getAttribute("name")}.${innerElem.getAttribute("name")}" class="java.lang.Object"/>
            #set($size=$size+1)
        #end
    #end
    #set($step=550/$size)
    <background>
        <band/>
    </background>
    <title>
        <band height="72">
            <frame>
            <reportElement mode="Opaque" x="-20" y="-20" width="595" height="92" backcolor="#88C4E2" />
            <staticText>
                <reportElement x="20" y="20" width="234" height="43" forecolor="#FFFFFF" />
                <textElement>
                    <font size="34" isBold="true"/>
                </textElement>
                <text><![CDATA[$dm.getTranslation($locale)]]></text>
            </staticText>
            <staticText>
                <reportElement x="395" y="43" width="180" height="20" forecolor="#FFFFFF" />
                <textElement textAlignment="Right">
                    <font size="14" isBold="false"/>
                </textElement>
                <text><![CDATA[گزارشات پایه]]></text>
            </staticText>
            </frame>
        </band>
    </title>
    <pageHeader>
        <band height="13"/>
    </pageHeader>
    <columnHeader>
        <band height="21">
            <line>
                <reportElement x="-20" y="20" width="595" height="1" forecolor="#666666" />
            </line>
##            #set($x=0)
            #set($x=(550)-($step))
            #foreach($elem in $dm.nonRelatedElementsAsJava())
                #if(!$elem.isGeneratedValue() && !$elem.containsAttribute("password") && !$elem.containsAttribute("fileId") )
                <staticText>
                    <reportElement mode="Opaque" x="$x" y="0" width="$step" height="20" forecolor="#E5F6FF" backcolor="#6E0202" />
                    <textElement textAlignment="Center">
                        <font size="14"/>
                    </textElement>
                    <text><![CDATA[$elem.getTranslation($locale)]]></text>
                </staticText>
##                #set($x=$x+$step)
                #set($x=($x)-($step))
                #end
            #end
            #foreach($elem in $dm.relationsAsJava())
                #set($elemType=${elem.getAttribute("plaintypename")})
                #foreach($innerElem in $dm.getRelatedDataModel($elemType).get().titleElementsAsJava())
                    <staticText>
                        <reportElement mode="Opaque" x="$x" y="0" width="$step" height="20" forecolor="#E5F6FF" backcolor="#6E0202" />
                        <textElement textAlignment="Center">
                            <font size="14"/>
                        </textElement>
                        <text><![CDATA[$innerElem.getTranslation($locale)]]></text>
                    </staticText>
##                    #set($x=$x+$step)
                    #set($x=($x)-($step))
                #end
            #end
        </band>
    </columnHeader>
    <detail>
        <band height="20">
            <line>
                <reportElement positionType="FixRelativeToBottom" x="0" y="19" width="555" height="1" />
            </line>
##            #set($x=0)
            #set($x=(550)-($step))
            #foreach($elem in $dm.nonRelatedElementsAsJava())
            #if(!$elem.isGeneratedValue() && !$elem.containsAttribute("password") && !$elem.containsAttribute("fileId") )
                <textField isStretchWithOverflow="true" isBlankWhenNull="true">
                    <reportElement x="$x" y="0" width="$step" height="20" />
                    <textElement textAlignment="Center">
                        <font size="14"/>
                    </textElement>
                    <textFieldExpression><![CDATA[#[[$F{]]#${elem.getAttribute("name")}}]]></textFieldExpression>
                </textField>
##                #set($x=$x+$step)
                #set($x=($x)-($step))
            #end
            #end
            #foreach($elem in $dm.relationsAsJava())
                #set($elemType=${elem.getAttribute("plaintypename")})
                #set($elemName=${elem.getAttribute("name")})
                #foreach($innerElem in $dm.getRelatedDataModel($elemType).get().titleElementsAsJava())
                    #set($innerElemName=${innerElem.getAttribute("name")})
                    <textField isStretchWithOverflow="true" isBlankWhenNull="true">
                        <reportElement x="$x" y="0" width="$step" height="20" />
                        <textElement textAlignment="Center">
                            <font size="14"/>
                        </textElement>
                        <textFieldExpression><![CDATA[#[[$F{]]#$elemName.$innerElemName}]]></textFieldExpression>
                    </textField>

##                    #set($x=$x+$step)
                #set($x=($x)-($step))
                #end
            #end

        </band>
    </detail>
    #[[
    <columnFooter>
        <band/>
    </columnFooter>
    <pageFooter>
        <band height="17">
            <textField>
                <reportElement mode="Opaque" x="0" y="4" width="515" height="13" backcolor="#E6E6E6" />
                <textElement textAlignment="Right"/>
                <textFieldExpression><![CDATA[" از " + $V{PAGE_NUMBER}]]></textFieldExpression>
            </textField>
            <textField evaluationTime="Report">
                <reportElement mode="Opaque" x="515" y="4" width="40" height="13" backcolor="#E6E6E6" />
                <textFieldExpression><![CDATA[" " + $V{PAGE_NUMBER}]]></textFieldExpression>
            </textField>
            <textField pattern="EEEEE dd MMMMM yyyy">
                <reportElement x="0" y="4" width="100" height="13" />
                <textFieldExpression><![CDATA[new com.caspco.spl.wrench.date.JalaliDate()]]></textFieldExpression>
            </textField>
        </band>
    </pageFooter>
    <summary>
        <band/>
    </summary>
    ]]#
</jasperReport>
