<html xmlns:spl="http://caspco.ir/spl" ng-app="application">
<head>
    <title ng-bind-template="{{app.title |translate }}{{app.title && page.title ? ' - ' : ''}}{{page.title | translate }}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->

    <!-- inject:css -->
    <link rel="stylesheet" href="vendors/JalaliJSCalendar/skins/calendar-green.css">
    <link rel="stylesheet" href="vendors/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="vendors/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="vendors/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="vendors/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="vendors/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="vendors/lego-web/dist/css/app.css">
    <link rel="stylesheet" href="vendors/lego-web/dist/css/app-rtl.css">
    <link rel="stylesheet" href="app/css/app-ex.css">
    <link rel="stylesheet" href="app/css/app-ex.ltr.css">
    <link rel="stylesheet" href="app/css/app-ex.rtl.css">
    <link rel="stylesheet" href="app/css/login.css">
    <link rel="stylesheet" href="app/css/login.old.css">
    <link rel="stylesheet" href="app/css/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" href="app/css/ng-tags-input.min.css">
    <link rel="stylesheet" href="app/css/register.css">
    <link rel="stylesheet" href="app/css/style.css">
    <!-- endinject -->
</head>
<body ng-cloak ng-keydown="fireKeyDown($event)" class="application-body" ng-controller="LegoController">

<spl:waiting>
</spl:waiting>
<spl:top-navbar>
</spl:top-navbar>
<spl:panel-bar>
</spl:panel-bar>
<spl:body>
</spl:body>
<spl:footer>
</spl:footer>

<!-- deps:js -->

<script src="vendors/jquery/dist/jquery.js"></script>

<script src="vendors/alertifyjs/dist/js/alertify.js"></script>

<script src="vendors/lodash/lodash.js"></script>

<script src="vendors/JalaliJSCalendar/dist/calendar.js"></script>

<script src="vendors/angular/angular.js"></script>

<script src="vendors/angular-animate/angular-animate.js"></script>

<script src="vendors/angular-resource/angular-resource.js"></script>

<script src="vendors/angular-route/angular-route.js"></script>

<script src="vendors/angular-sanitize/angular-sanitize.js"></script>

<script src="vendors/angular-messages/angular-messages.js"></script>

<script src="vendors/bootstrap/dist/js/bootstrap.js"></script>

<script src="vendors/ng-tags-input/ng-tags-input.js"></script>

<script src="vendors/angular-ui-select/dist/select.js"></script>

<script src="vendors/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="vendors/angular-ui-grid/ui-grid.js"></script>

<script src="vendors/angular-translate/angular-translate.js"></script>

<script src="vendors/angular-ui-router/release/angular-ui-router.js"></script>

<script src="vendors/lego-web/dist/index.js"></script>

<!-- endinject -->

<!-- inject:js -->
<script src="app/app.js"></script>
<script src="app/js/services/com/caspco/spl/projectgenerator/FileTransferService.js"></script>
<script src="app/js/controllers/com/caspco/spl/projectgenerator/XmlUploaderController.js"></script>
<script src="app/gen-src/translations/view.locales-fa_IR.js"></script>
<script src="app/gen-src/translations/view.com.caspco.spl.projectgenerator.XmlUploader-fa_IR.js"></script>
<script src="app/gen-src/translations/menu-fa_IR.js"></script>
<script src="app/gen-src/translations/help-fa_IR.js"></script>
<script src="app/gen-src/translations/exception.translation-fa_IR.js"></script>
<script src="app/gen-src/restServices/SplRestService.js"></script>
<!-- endinject -->
</body>
</html>