<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}" class="form-input">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <input id="{{id}}" ng-disabled="disabled" class="form-control" type="{{type}}"
                   placeholder="{{placeholder}}" ng-model="model"
                   typeahead="item for item in getItems($viewValue)" auto-focus="autofocus" />
                   <!--typeahead="state for state in states | filter:$viewValue | limitTo:8"/>-->
                   <!--typeahead="item for item in Action.searchColumn('{{typeAhead}}',$viewValue)"/>-->
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>

        <input ng-disabled="disabled" ng-show="orientation == 'inline'" id="{{id}}" class="form-control"
               type="{{type}}" placeholder="{{placeholder}}" ng-model="model"
               typeahead="item for item in getItems($viewValue)"  auto-focus="autofocus" />
               <!--typeahead="state for state in states | filter:$viewValue | limitTo:8"/>-->
               <!--typeahead="item for item in Action.searchColumn('{{typeAhead}}',$viewValue)"/>-->
        <span
            ng-if="orientation == 'inline' && feedback"

            class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
    </div>
</div>